/* relevant styles */
.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(185, 4, 4, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.image-text {
  visibility: visible;
  line-height: 60px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.img__wrap:hover .image-text {
  visibility: hidden;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 0, 0, 0.4);
}
